.mention {
  color: transparent;
  background: linear-gradient(
    270.23deg,
    #5691ff -9.34%,
    #72f6d1 17.09%,
    #76e268 48.54%,
    #ffd505 78.11%,
    #ff5e52 107.63%
  );
  background-clip: text;
  -webkit-background-clip: text;
  text-decoration: none;
  animation: animate 2s linear infinite;
}

@keyframes animate {
  to {
    background-position: 200% 0;
  }
}

.mentionSuggestions {
  border: 1px solid #3c3f4a;
  background: #131314;
  border-radius: 20px;
  cursor: pointer;
  padding: 4px 2px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  transform-origin: 50% 0%;
  transform: scaleY(0);
  z-index: 100;
}

.mentionSuggestionsEntry {
  padding: 7px 10px 3px 10px;
}

.mentionSuggestionsEntryFocused {
  composes: mentionSuggestionsEntry;
  background-color: #3c3f4a;
  border-radius: 15px;
}
