@import url(https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary: #131314;
    --secondary: #3c3f4a;
  }

  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    @apply bg-black-shade-3;
  }

  /* =============================== Scrollbars Start =============================== */
  /* Firefox */
  .customScrollbar {
    scrollbar-width: thin !important;
    scrollbar-color: var(--secondary) var(--primary) !important;
  }

  /* Chrome, Edge, and Safari */
  .customScrollbar::-webkit-scrollbar {
    width: 15px !important;
  }
  .customScrollbar::-webkit-scrollbar-track {
    background: var(--primary) !important;
    border-radius: 18px !important;
  }

  /* width */
  .rainbow-scroll::-webkit-scrollbar {
    width: 1px !important;
    height: 2px;
    background-color: transparent !important;
    padding: 0 !important;
    scrollbar-width: thin !important;
  }

  /* Track */
  .rainbow-scroll::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  /* Handle */
  .rainbow-scroll::-webkit-scrollbar-thumb {
    border: 0 !important;
    background: linear-gradient(
      270.23deg,
      #5691ff -9.34%,
      #72f6d1 17.09%,
      #76e268 48.54%,
      #ffd505 78.11%,
      #ff5e52 107.63%
    );
  }

  /* Firefox */
  .customScrollbar2 {
    scrollbar-width: 2px !important;
  }

  /* Chrome, Edge, and Safari */
  .customScrollbar2::-webkit-scrollbar {
    display: flex !important;
    border-radius: 18px;
    background-color: transparent !important;
    width: 6px !important;
  }
  .customScrollbar2::-webkit-scrollbar-track {
    background-color: transparent !important;
    border-radius: 18px !important;
  }

  .customScrollbar2::-webkit-scrollbar-thumb {
    border: 0;
    background-color: #2a2d3c !important;
    border-radius: 18px !important;
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--secondary);
    border-radius: 14px;
    border: 6px solid var(--primary);
  }

  /* =============================== Scrollbars End =============================== */

  /* Reset default input styling to match the theme */
  input:-webkit-autofill,
  input:-webkit-autofill:active,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:hover {
    transition: background-color 5000s ease-in-out 0s;
    background-clip: text;
    -webkit-background-clip: text;
    box-shadow: 0 0 0 30px #1e1e21 inset !important;
    -webkit-box-shadow: 0 0 0 30px #1e1e21 inset !important;
  }

  input:-webkit-autofill {
    -webkit-text-fill-color: #fff !important;
  }

  input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  input[type="datetime-local"]::-moz-calendar-picker-indicator {
    filter: invert(1);
  }

  input[type="datetime-local"]::-ms-clear {
    filter: invert(1);
  }

  input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--form-background);
    margin: 0;
    font: inherit;
    color: #2a2d3c;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
  }

  input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control1-color);
    background-color: #febf32;
  }

  input[type="checkbox"]:checked::before {
    transform: scale(1);
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  input[type="date"]::-webkit-inner-spin-button,
  input[type="date"]::-webkit-calendar-picker-indicator {
    /* display: none;
    -webkit-appearance: none; */
    filter: invert(1);
  }

  [type="checkbox"]:checked {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='#febf32' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e") !important;
  }

  /* Beautifull radio button */
  input[type="radio"] {
    display: none;
  }
  input[type="radio"] + label {
    display: inline-block;
    position: relative;
    padding-left: 30px;
    margin-right: 10px;
    cursor: pointer;
    line-height: 20px;
    font-size: 14px;
    color: #fff;
  }
  input[type="radio"] + label:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1.5px solid #fff;
    border-radius: 50%;
    background: transparent;
    transition: all 0.2s ease;
  }
  input[type="radio"] + label:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1.5px solid #febf32;
    outline: #febf32;
    background: #febf32;
    transform: scale(0);
    transition: all 0.2s ease;
  }
  input[type="radio"].green-radio + label,
  input[type="radio"].red-radio + label {
    display: inline-block;
    position: relative;
    padding-left: 28px;
    margin-right: 0px;
    cursor: pointer;
    line-height: 20px;
    font-size: inherit;
    color: #fff;
  }
  input[type="radio"].green-radio + label:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1.5px solid #76e268;
    border-radius: 50%;
    background: transparent;
    transition: all 0.2s ease;
  }
  input[type="radio"].green-radio + label:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1.5px solid #76e268;
    outline: #76e268;
    background: #76e268;
    transform: scale(0);
    transition: all 0.2s ease;
  }
  input[type="radio"].red-radio + label:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1.5px solid #e34048;
    border-radius: 50%;
    background: transparent;
    transition: all 0.2s ease;
  }
  input[type="radio"].red-radio + label:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1.5px solid #e34048;
    outline: #e34048;
    background: #e34048;
    transform: scale(0);
    transition: all 0.2s ease;
  }
  input[type="radio"]:checked + label:after {
    transform: scale(1);
  }
  input[type="radio"]:disabled + label:before {
    box-shadow: none;
    border-color: #aaa;
  }
  input[type="radio"]:disabled + label:after {
    background-color: #ddd;
  }

  textarea {
    resize: none !important;
  }
}

@layer components {
  .accordion-button:not(.collapsed) {
    color: white !important;
    box-shadow: none !important;
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("/images/arrow-down.svg");
  }
  .accordion-button::after {
    background-image: url("/images/arrow-down.svg");
  }

  .scrollSet,
  .scrollSetLight,
  .scrollSetLight2 {
    scroll-behavior: smooth;
  }
  .scrollSet::-webkit-scrollbar {
    display: flex !important;
    background-color: #17171a !important;
    width: 6px !important;
  }
  .scrollSet::-webkit-scrollbar-thumb {
    background-color: #febd32c4 !important;
    border-radius: 18px !important;
  }
  .scrollSetLight::-webkit-scrollbar {
    display: flex !important;
    background-color: transparent !important;
    width: 2px !important;
  }
  .scrollSetLight::-webkit-scrollbar-thumb {
    background-color: #febf32 !important;
  }
  .scrollSetLight2::-webkit-scrollbar {
    display: flex !important;
    background-color: transparent !important;
    height: 2px !important;
    z-index: 20;
  }
  .scrollSetLight2::-webkit-scrollbar-thumb {
    background-color: #febf32 !important;
  }

  .textGradient {
    animation: animate 2s linear infinite;
    background: linear-gradient(
      270.23deg,
      #5691ff -9.34%,
      #72f6d1 17.09%,
      #76e268 48.54%,
      #ffd505 78.11%,
      #ff5e52 107.63%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: fit-content;
  }
  .text-gradient-hover {
    width: fit-content;
  }
  .text-gradient-hover:hover {
    background: linear-gradient(
      270.23deg,
      #5691ff -9.34%,
      #72f6d1 17.09%,
      #76e268 48.54%,
      #ffd505 78.11%,
      #ff5e52 107.63%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: fit-content;
  }

  .animationTextHeading {
    animation: animate 2s linear infinite;
    background-image: linear-gradient(
      to left,
      #faa49e,
      #fed365,
      #a0ed8d,
      #72f6d1,
      #a9cdff
    ) !important;
    background-size: 300%;
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 34px;
    font-weight: 600;
    color: transparent !important;
  }

  .gradient-border {
    background-image: linear-gradient(
      270.23deg,
      #5691ff -9.34%,
      #72f6d1 17.09%,
      #76e268 48.54%,
      #ffd505 78.11%,
      #ff5e52 107.63%
    );
    padding: 2px;
    border-radius: 8px;
  }

  .gradientborders2 {
    animation: animate 2s linear infinite;
    border: 1px transparent;
    background-image: linear-gradient(#1b1c22, #1b1c22),
      radial-gradient(
        circle at bottom left,
        #76e268 2.54%,
        #ffd505 17.11%,
        #5691ff -9.34%,
        #72f6d1 17.09%,
        #ff5e52 107.63%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  .gradient-border-3 {
    animation: animate 2s linear infinite;
    border: 2px transparent;
    border-radius: 100%;
    background-image: linear-gradient(#1b1c22, #1b1c22),
      radial-gradient(
        circle at top right,
        #5691ff -9.34%,
        #72f6d1 17.09%,
        #76e268 48.54%,
        #ffd505 78.11%,
        #ff5e52 107.63%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  .gradient-border-4 {
    animation: animate 2s linear infinite;
    border: 2px transparent;
    border-radius: 100%;
    background-image: linear-gradient(#1b1c22, #1b1c22),
      radial-gradient(circle at top left, #ff4e4e, #ff8e26, #deff15);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  .gradient-border-5 {
    border: 2px transparent;
    border-radius: 100%;
    background-image: linear-gradient(#0b0b0b, #0b0b0b),
      radial-gradient(
        circle at top right,
        #5691ff -9.34%,
        #72f6d1 17.09%,
        #76e268 48.54%,
        #ffd505 78.11%,
        #ff5e52 107.63%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  @keyframes animate {
    0% {
      background-position: 0 100%;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 100%;
    }
  }

  /* button variants */
  /* primary */
  /* primary-gradient-btn */
  .primary-gradient-btn {
    border-radius: var(--border-rounded) !important;
    transition: all 0.2s linear !important;
    border: none;
    background-image: linear-gradient(
      270.23deg,
      #5691ff -9.34%,
      #72f6d1 17.09%,
      #76e268 48.54%,
      #ffd505 78.11%,
      #ff5e52 107.63%
    );
  }

  .primary-gradient-btn::before {
    content: "";
    position: absolute;
    inset: 1px;
    background-color: var(--background-color);
    border-radius: var(--border-rounded);
    transition: all 0.2s linear !important;
    z-index: 2;
  }

  .primary-gradient-btn:after {
    content: "";
    animation: primary-button-animation 2s linear infinite;
    background-image: linear-gradient(
      to left,
      #faa49e,
      #fed365,
      #a0ed8d,
      #72f6d1,
      #a9cdff
    );
    position: absolute;
    top: 0;
    left: 0;
    background-size: 300%;
    z-index: -1;
    filter: blur(6px);
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    border-radius: var(--border-rounded);
    z-index: 1;
  }

  @keyframes primary-button-animation {
    0% {
      background-position: 0 100%;
    }
    50% {
      background-position: 100% 0;
    }
    100% {
      background-position: 0 100%;
    }
  }

  .primary-gradient-btn:hover {
    animation: primary-button-animation 2s linear infinite;
    background-image: linear-gradient(
      to left,
      #faa49e,
      #fed365,
      #a0ed8d,
      #72f6d1,
      #a9cdff
    );
    background-size: 300%;
    color: #fefefe;
  }

  .primary-gradient-btn:hover span {
    cursor: pointer;
    animation: primary-button-animation 2s linear infinite;
    background-image: linear-gradient(
      to left,
      #faa49e,
      #fed365,
      #a0ed8d,
      #72f6d1,
      #a9cdff
    );
    background-size: 300%;
    color: #fefefe;
  }

  .primary-gradient-btn:hover:after {
    opacity: 1;
  }

  .primary-gradient-btn .primary-gradient-btn-text {
    background: linear-gradient(
      270.23deg,
      #5691ff -9.34%,
      #72f6d1 17.09%,
      #76e268 48.54%,
      #ffd505 78.11%,
      #ff5e52 107.63%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    z-index: 50;
    position: relative;
  }

  /* only text gradient */
  .text-gradient {
    background: linear-gradient(
      270.23deg,
      #5691ff -9.34%,
      #72f6d1 17.09%,
      #76e268 48.54%,
      #ffd505 78.11%,
      #ff5e52 107.63%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  .text-gradient:hover {
    cursor: pointer;
    animation: primary-button-animation 2s linear infinite;
    background-image: linear-gradient(
      to left,
      #faa49e,
      #fed365,
      #a0ed8d,
      #72f6d1,
      #a9cdff
    );
    background-size: 300%;
    color: #fefefe;
  }
  .primary-btn-text-gradient {
    background: linear-gradient(
      270.23deg,
      #5691ff -9.34%,
      #72f6d1 17.09%,
      #76e268 48.54%,
      #ffd505 78.11%,
      #ff5e52 107.63%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    z-index: 49;
    position: relative;
  }
  /* chat gradient border */
  .gradient-chat-box::before {
    content: "";
    position: absolute;
    inset: 1px;
    background-color: #17171a;
    border-radius: 10px;
  }
  .border-gradient-top {
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-image-source: linear-gradient(
      270.23deg,
      #5691ff -9.34%,
      #72f6d1 17.09%,
      #76e268 48.54%,
      #ffd505 78.11%,
      #ff5e52 107.63%
    );
  }
  .border-gradient-left {
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-image-source: linear-gradient(
      270.23deg,
      #5691ff -9.34%,
      #72f6d1 17.09%,
      #76e268 48.54%,
      #ffd505 78.11%,
      #ff5e52 107.63%
    );
  }

  .centher-social-button:hover span {
    color: white;
  }
  .centher-social-button:hover svg g path {
    fill: #ffffff;
  }

  /* custom bullets */
  .list-item-with-image {
    position: relative;
    padding-left: 24px;
  }
  .list-item-with-image::before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url("/images/check-success-fill.png");
    background-size: cover;
  }
  .custom-list-bullet li::marker {
    margin: 0;
  }

  .dateInput::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }

  .activeLevelCard {
    background: #fed365 !important;
  }
  .activeLevelCard .dark {
    color: #1e212b !important;
  }
  .activeLevelCard .light {
    color: #3b3f54 !important;
  }

  .cropper-drag-box.cropper-modal {
    background: #0d0d0d;
  }
  .circle-stencil {
    cursor: move;
  }
  .circle-stencil__handler {
    position: absolute;
    right: 0%;
    top: 0%;
    z-index: 1;
    cursor: ne-resize;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(50%, -50%);
  }
  .circle-stencil__overlay {
    border: dashed 2px white;
    box-sizing: border-box;
  }
  .circle-stencil__draggable-area {
    width: 100%;
    height: 100%;
  }
  .advanced-cropper-rectangle-stencil__draggable-area {
    border: 2px solid #febf32;
  }

  .range {
    height: 1rem;
    width: 100%;
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    overflow: hidden;
    background-color: transparent;
    border-radius: 1rem;
  }
  .range::-webkit-slider-runnable-track {
    height: 0.5rem;
    width: 100%;
    border-radius: 1rem;
    background-color: hsla(220 13.376% 69.216% / 0.1);
  }
  .range::-moz-range-track {
    height: 0.5rem;
    width: 100%;
    border-radius: 1rem;
    background-color: hsla(220 13.376% 69.216% / 0.1);
  }
  .range:focus {
    outline: none;
  }
  .range:focus-visible::-webkit-slider-thumb {
    --focus-shadow: 0 0 0 6px hsl(220 17.647% 20%) inset,
      0 0 0 2rem hsl(220 13.376% 69.216%) inset;
  }
  .range:focus-visible::-moz-range-thumb {
    --focus-shadow: 0 0 0 6px hsl(220 17.647% 20%) inset,
      0 0 0 2rem hsl(220 13.376% 69.216%) inset;
  }
  .range::-webkit-slider-thumb {
    background-color: hsl(220 17.647% 20%);
    position: relative;
    height: 1rem;
    width: 1rem;
    border-style: none;
    border-radius: 1rem;
    appearance: none;
    -webkit-appearance: none;
    top: 50%;
    color: #febf32;
    transform: translateY(-50%);
    box-shadow: 0 0 0 3px #febf32 inset, var(--focus-shadow, 0 0),
      calc(100rem * -1 - 0.6rem) 0 0 100rem;
  }
  .range::-moz-range-thumb {
    background-color: hsl(220 17.647% 20%);
    position: relative;
    height: 1rem;
    width: 1rem;
    border-style: none;
    border-radius: 1rem;
    top: 50%;
    color: #febf32;
    box-shadow: 0 0 0 3px #febf32 inset, var(--focus-shadow, 0 0),
      calc(100rem * -1 - 0.6rem) 0 0 100rem;
  }

  .radio-container {
    position: relative;
    display: inline-block;
    padding: 2px;
  }
  .radio-container input[type="radio"] {
    display: block;
    opacity: 0;
  }
  .radio-container::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: linear-gradient(
      270.23deg,
      #5691ff -9.34%,
      #72f6d1 17.09%,
      #76e268 48.54%,
      #ffd505 78.11%,
      #ff5e52 107.63%
    );
    border-radius: 50%;
    z-index: -1;
    opacity: 0; /* Initially set to transparent */
  }
  .radio-container.checked::before {
    opacity: 1; /* Show the gradient outline when the radio button is checked */
  }
  .radio-container::after {
    content: "";
    position: absolute;
    top: -7px;
    left: -7px;
    right: -7px;
    bottom: -7px;
    border: 2px solid #fff;
    border-radius: 50%;
    z-index: -2;
  }

  .myBox {
    text-align: center;
    border-left: transparent;
    border-top: transparent;
    border-right: transparent;

    border-bottom: 3px solid transparent;
    border-image: linear-gradient(
      270.23deg,
      #5691ff -9.34%,
      #72f6d1 17.09%,
      #76e268 48.54%,
      #ffd505 78.11%,
      #ff5e52 107.63%
    );
    border-image-slice: 1;
    width: 100%;
  }
  .myBox:focus-visible {
    outline: none;
    border: 0;
  }

  .blur-local > .child {
    filter: blur(5px);
  }
  .blur-local > .not-blur {
    filter: none;
  }

  /* chat gradient border */

  .gradient-chat-box::before {
    content: "";
    position: absolute;
    inset: 1px;
    background-color: #17171a;
    border-radius: 10px;
  }
  .modal-open {
    overflow: hidden;
  }
  .border-gradient-top {
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-image-source: linear-gradient(
      270.23deg,
      #5691ff -9.34%,
      #72f6d1 17.09%,
      #76e268 48.54%,
      #ffd505 78.11%,
      #ff5e52 107.63%
    );
  }
  .border-gradient-left {
    border: 1px solid;
    border-image-slice: 1;
    border-width: 1px;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-image-source: linear-gradient(
      270.23deg,
      #5691ff -9.34%,
      #72f6d1 17.09%,
      #76e268 48.54%,
      #ffd505 78.11%,
      #ff5e52 107.63%
    );
  }

  div.DraftEditor-root {
    height: 88px;
    overflow-y: auto;
  }

  div.DraftEditor-editorContainer {
    height: 100%;
    display: block;
    width: 100%;
    resize: none;
    word-wrap: break-word;
  }

  div.DraftEditor-root::-webkit-scrollbar {
    display: flex !important;
    background-color: #17171a !important;
    width: 6px !important;
  }

  div.DraftEditor-root::-webkit-scrollbar-thumb {
    background-color: #febd32c4 !important;
    border-radius: 18px !important;
  }

  .emoji-suggestions-button {
    background-color: #007bff;
    color: #fff;
    border: 1px solid #007bff;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  .glass-card {
    background: black;
    background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.2)
    );
    backdrop-filter: blur(5rem);
    width: 60%;
    height: 60%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }

  .text-gradient-orange {
    background: linear-gradient(
      270.23deg,
      #70a2ff -85.42%,
      #72f6d1 -48.05%,
      #76e268 -3.57%,
      #ffd505 38.24%,
      #f76e64 85.39%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: fit-content;
  }
  .text-gradient-blue {
    background: linear-gradient(270deg, #5691ff 25%, #72f6d1, #76e268);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .gradient-border-blue {
    animation: animate 2s linear infinite;
    border: 2px transparent;
    border-radius: 100%;
    background-image: linear-gradient(#1b1c22, #1b1c22),
      radial-gradient(circle at top right, #5691ff 30%, #72f6d1, #76e268);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  .gradient-border-orange {
    animation: animate 2s linear infinite;
    border: 2px transparent;
    border-radius: 100%;
    background-image: linear-gradient(#1b1c22, #1b1c22),
      radial-gradient(circle at top right, #76e268 30%, #ffd505, #f76e64);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  .staking-text-gradient-live {
    background: linear-gradient(
      91deg,
      #a9cdff 0%,
      #72f6d1 21.87%,
      #a0ed8d 55.73%,
      #fed365 81.77%,
      #faa49e 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .staking-text-gradient-unstakable {
    background: linear-gradient(91deg, #76e268 0%, #ffd505 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .background-gradient-color {
    background: linear-gradient(
      270deg,
      #5691ff -9.34%,
      #72f6d1 17.09%,
      #76e268 48.54%,
      #ffd505 78.11%,
      #ff5e52 107.63%
    );
  }
  .text-gradient-1 {
    animation: animate 2s linear infinite;
    background: linear-gradient(
      267deg,
      #1363ff -1.38%,
      #35ffc6 27.36%,
      #57f243 52.83%,
      #ffd637 74.34%,
      #ff4a3d 93.01%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    width: fit-content;
  }
  .gradient-borders-2 {
    border: 1px solid transparent;
    background-image: linear-gradient(#1b1c22, #1b1c22),
      radial-gradient(
        circle at top right,
        #1363ff 10%,
        #35ffc6 60%,
        #57f243 30%,
        #ffd637 70%,
        #ff4a3d 92%
      );
    background-origin: border-box;
    background-clip: content-box, border-box;
  }
  .bg-white-gradient {
    background: linear-gradient(180deg, #fff 0%, #ccc 100%);
    backdrop-filter: blur(20px);
  }
  .staking-text-gradient-staked {
    background: linear-gradient(
      91deg,
      #76e268 -15.45%,
      #72bff6 50.29%,
      #5691ff 99.04%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .staking-text-gradient-unstaked {
    background: linear-gradient(
      90deg,
      #ff4e4e 0%,
      #ff8e26 51.09%,
      #deff15 102.17%
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .staking-text-gradient-unstakable {
    background: linear-gradient(91deg, #76e268 0%, #ffd505 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #react-select-5-input {
    color: #fff !important;
  }
  #react-select-5-input:focus {
    outline: none !important;
    border: none !important;
    box-shadow: none !important;
  }
}

@layer utilities {
  .word-break {
    word-break: break-word;
  }
  .items-inherit {
    align-items: inherit;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.custom-emoji .e13wqaj6,
.custom-emoji .e8k2yoa {
  opacity: 0;
}
